<p id="who">
  <strong>Who:</strong>
  Workshops are open to all staff, faculty, students, and other researchers in the Santa Barbara Area- including UCSB, Westmont, and SB Community College.
  <strong>
    Prior experience with using the bash-shell is recommended.
  </strong> 
  If you have no expereince, consider registering for the <a href= "https://ucsbcarpentry.github.io/2022-07-12-ucsb-bash/">Intro to Bash workshop</a> if you would like to fulfill the prerequsites for this workshop.
  
</p>
